<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageOS_Assistant::Ai" title="AI Assistant" translate="title" module="MageOS_AdminAssistant" sortOrder="90" action="assistant/ai" resource="Magento_Marketplace::partners" dependsOnConfig="admin/aiassistant/enabled"/>
    </menu>
</config>
